* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerGeneralFlota {
  margin-bottom: 50px;
}
.containerImagenFlota {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.containerImagenFlota img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  margin-bottom: 70px;
}
.messageImagenFlota {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  position: absolute; /* Permite posicionar sobre la imagen */
  top: 20%; /* Coloca el título en la parte superior del contenedor */
  left: 25%; /* Ajusta el 25% desde la izquierda */
  width: 50%;
  flex-direction: column;
}
.messageImagenFlota h2 {
  padding: 0 15px;
  color: white;
}
.messageImagenFlota p {
  color: white;
}
.containerMessageFlota {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 30px;
}
.containerMessageFlota h2 {
  margin: 0;
}
.containerMessageFlota p {
  padding-bottom: 15px;
  display: flex;
  position: relative;
}
.containerMessageFlota p::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  width: 10%; /* Ajusta el ancho del borde superior amarillo según tus necesidades */
  height: 3px; /* Grosor del borde amarillo */
  background-color: #5c8e61;
}

.containerFlotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flotas {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 15px;
  position: relative; /* Añadido para posicionar el título */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.flotas img {
  height: 100%;
  width: 100%;
  /* padding: 5px; */
}

.containerTituloFlota {
  display: flex;
  justify-content: center;
  /* align-items: flex-end;  */
  position: absolute; /* Permite posicionar sobre la imagen */
  top: 20%; /* Coloca el título en la parte superior del contenedor */
  left: 25%; /* Ajusta el 25% desde la izquierda */
  width: 50%;
  /* background-color: rgba(
    0,
    0,
    0,
    0.5
  ); Fondo semi-transparente para mejorar la visibilidad del texto */
}

.tituloFlota {
  /* display: flex; */
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin: 0;
  padding-bottom: 15px;
}
.tituloFlota::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 35%;
  width: 25%; /* Ajusta el ancho del borde superior amarillo según tus necesidades */
  height: 3px; /* Grosor del borde amarillo */
  background-color: #5c8e61;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Open Sans", Arial, sans-serif;
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 0;
  color: #333;
}

p,
a,
span {
  color: #777;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 22px;
}

@media (max-width: 768px) {
  .flotas {
    width: 100%;
  }
}
