/* homeCSS.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 320px) {
    .containerMiniImagesHome {
      height: 376px;
      width: 100%;
      /* padding-right: 30px; */
      /* background-color: brown; */
      margin: 20px 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .miniImagesHome {
      height: 60%;
      width: 95%;
      background-color: blue;
      display: flex;
    }
  
    .texto {
      background-color: #fff;
      width: 95%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    .texto h2 {
        display: flex;
        margin: 10px 0 10px 0;
        padding: 8px 20px 0 20px;
        position: relative; /* Se añade posición relativa para que el pseudo-elemento se posicione correctamente */
      }
      
      .texto h2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 3;
        width: 10%; /* Ajusta el ancho del borde superior amarillo según tus necesidades */
        height: 3px; /* Grosor del borde amarillo */
        background-color: yellow;
      }
      
    .texto p{
        padding: 0 20px 0 20px;
        margin-top: 0;
    }
    .detailsContainer{
        background-image: url("../images/PhotoReal_Imagina_un_fondo_cautivador_donde_el_azul_oscuro_pre_0.jpg");
        margin: 0;
        /* padding-top: 20px; */
        padding: 20px 0 20px 0;
    }
    .logoHome{
      display: flex;
      width: auto;
      height: 75px;
    }
    .containerLogoHome{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .containerButtonHome{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .buttonHome{
      height: 45px;
      width: 200px;
      font-weight: 700;
      border: none;
      border-radius: 25px;
      background-color: #fac312 ;
      color: white;
    }
  }
  